// colors
$mainTextColor: #F9F9f9;
$SecondaryTextColor: #D6AB21;
$backgroundColor: #010101;
$buttonTextColor: #D6AB21;
$backgroundButton: #010101;

// sizes
$smallFontSize: 14px;
$normalFontSize: 18px;
$bigFontSize: 24px;

// config
$containerMaxWidth: 1280px;
$containerWidth: 100%;